body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 6.25rem;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.styled-line {
    margin-bottom: 4rem;
}

.hero-content h1 {
    font-family: 'Playfair display', sans-serif;
    font-size: 3.125rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.profile-pic {
    height: 100vh;
    object-fit: cover   ;
    border-radius: 5px;
    flex: 1;
    max-width: 50%;
    background-color: #636363;
}

.small-text {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 7.5rem;
    /* left: 5.5rem; */
}

.long-text,
.typing-text {
    font-size: 1.5rem;
    font-weight: 300;
}

.long-text {
    margin-bottom: 1.25rem;
    line-height: 1.6;
}

.long-text strong {
    font-weight: 500;
}

.hero-content {
    flex:1;
    min-width: 50%;
    /* background-color: bisque; */
}

.social-icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 0;
    right: 0;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 0.625rem 1.25rem;
}

.social-icon {
    height: 30px;
    width: 30px;
}


.cta-button-1 {
    color: white;
    background-color: black;
    border: none;
}

.cta-button-2 {
    display: inline-flex;
    align-items: center;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 1rem;
}

.cta-button-1,
.cta-button-2{
    padding: 0.625rem 1.875rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 1px;
    cursor: pointer;
}

.download-icon {
    height: 20px;
    width: 20px;
    margin-left: 0.25rem;
}

.section-title {
    font-family: 'playfair display', sans-serif;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.card {
    display: grid;
    grid-template-rows: 70vh 70vh 70vh;
    align-items: center;
    gap: 2rem;
    background-color: #636363;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-content {
    display: block;
    justify-content: space-between;
    height: 70vh;
    background-color: #F8F8F8;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50% ;
}

.card-content-info {
    display: flex;
    justify-content: space-between;
}

.card-content-info h2 {
    font-size: 1rem;
    font-family: 'playfair display', sans-serif;
}

.project-number {
    background-color: blue;
}

.project-number p {
    font-size: 4rem;
    font-family: 'playfair display', sans-serif;
}

.card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
